body,
.offcanvas {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
  background-attachment: fixed;
}
input,
select,
textarea {
  background: transparent !important;
}
img {
  width: 100%;
  height: auto;
}
.comment-box {
  max-height: 40vh;
  overflow-y: scroll;
}
.logo {
  max-width: 50px;
}
.topbtn {
  position: fixed;
  width: fit-content;
  right: 0;
  bottom: 0;
}
/* .menubtn {
  position: fixed;
  right: 0;
} */
/* .cardimg {
  max-width: 100px !important;
  padding: 10px;
} */
.menubtno {
  max-width: 40px;
}

/* Centrally Alligning */
.outer {
  display: table;
  height: 100%;
}
.middle {
  display: table-cell;
  vertical-align: middle;
}
.inner {
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
#animateimg,
#animateimg2 {
  animation: 2s ease-in-out infinite alternate-reverse both up-down;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: transform 0.5s;
}
#animateimg:hover {
  animation: 30s linear infinite animate;
  cursor: pointer;
}
@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0);
  }
  100% {
    transform: perspective(1000px) rotateY(-370deg);
  }
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
#animateimg2:hover {
  animation: 30s linear infinite animate2;
  cursor: pointer;
}
@keyframes animate2 {
  0% {
    transform: perspective(1000px) rotateY(0);
  }
  100% {
    transform: perspective(1000px) rotateY(370deg);
  }
}
